* {
    
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #fff;
    margin-left:3%

}

#subtitulo {
    font-family: sans-serif;
    color: #fff;
    margin-left:0%
}

fieldset {
    border:0
}

body {
    background-image: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
    font-family: futura-pt, sans-serif;
    font-size: 1em;
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
    margin-left:36%;
    margin-top:3%;
    justify-content: center;
}

input, select, textarea, button {
    border-radius:5px;
}

.campo {
    margin-bottom:1em;
}

.campo label {
    margin-bottom:0.3em;
    color: #fff;
    display: block;
}

fieldset.grupo .campo {
    float:left;
    margin-right:1em;
}

fieldset.grupo {
    color:#fff
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding:0.5em;
    border: 1pxsolid #fff;
    box-shadow:4px 4px 10px rgba(0, 0, 0, .1),
    -4px -4px 10px rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    display:block

}

.campo select option {
    padding-right:1em;
    background: rgba(0,0,0,0.1);
    
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background:#fff;
} 

.botao {
    font-size: 5em;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);   
    padding: 0.2em 0.6;
    
    position: absolute;
    top:90%;
    left:50%;
    margin-right:-30%;
    transform: translate(-50%,-50%);
}

.botao.hower {
    background:

    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1);
}

#checked {
    display: inline-block;

}